[submodule "HazelClone/vendor/spdlog"]
	path = HazelClone/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "HazelClone/vendor/GLFW"]

	path = HazelClone/vendor/GLFW

	url = git://github.com/TheCherno/GLFW
